---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import Me from "../../public/me.jpeg";
import { Code } from "astro:components";
import { getCollection } from "astro:content";
import BlogsIndex from "../pages/blog/index.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="mb-20 flex flex-row items-center justify-center text-center">
        <Image src={Me} alt="Gabe Kuslansky" class="me rounded-full" />
        <div class="ml-6">
          <h1>Gabe Kuslansky</h1>
          <p>Meticulously refining productivity systems</p>
        </div>
      </div>
      <!-- <Code lang="shell" code="git clone github.com/gabekus/thing" /> -->
      <p>
        Hey what's up, I'm a software engineer, pianist and productivity enthusiast.
        <p>
          I'm always optimizing minutia to improve workflows in all domains, both in software
          engineering and beyond.
        </p>
        <p>
          Feel free to reach out if you want to chat about productivity, software, design,
          calisthenics, music, or anything else!
        </p>
      </p>
      <BlogsIndex postsFromProps={posts} />
      <Footer />
    </main>
  </body>
</html>
