---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import Me from "../../public/me.jpeg";
import { Code } from "astro:components";
import { getCollection } from "astro:content";
import BlogsIndex from "../pages/blog/index.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="mb-20 flex flex-col items-center justify-center text-center md:flex-row">
        <a class="" href="/about">
          <Image loading="eager" src={Me} alt="Gabe Kuslansky" class="rounded-full transition-all" />
        </a>
        <div class="mt-6 md:ml-6 md:mt-0">
          <h1>Gabe Kuslansky</h1>
          <p>Meticulously refining productivity systems</p>
        </div>
      </div>
      <!-- <Code lang="shell" code="git clone github.com/gabekus/thing" /> -->
      <p>
        Hey what's up, I'm a software engineer, pianist and productivity enthusiast.
        <p>
          If I can improve your workflow, that'll make my day. I truly hope you'll find something
          useful here.
        </p>
        <p>
          Let's talk: <a href="mailto:kuslanskyg@gmaill.com">kuslanskyg@gmail.com </a>
          <br />
          <p class="text-sm">
            P.S. I'm happy to casually chat about productivity, software, design, calisthenics and
            music. Please reach out!
          </p>
        </p>
      </p>
      <BlogsIndex postsFromProps={posts} />
      <Footer />
    </main>
  </body>
</html>
